body{
    background-color: #5A6B7B;
}

#all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#all *{
    display: flex;
}

#all article{
    /*border: 1px solid;
    background-color: yellow;*/
    width: 90%;
    margin: 20px;
    justify-content: space-between;
}

#all article div{
    align-items: center;
    padding: 0px 1vw;
}

#all article div .h1 h1{
    font-size: calc(3vw + 15px);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0px;
    margin: 0.5vw;
}

#all article div .h1{
    padding: 0px 1vw;
    background-color: #1b8588;
}

#all article .select select{
    font-size: 2vw;
    padding: 5px;
    margin: 2px;
    width: 100%;
    color: white;
    background-color: #00000050;
}

#all article .select select option{
    font-size: calc(1vw + 15px);;
    background-color: #b9b9b9;
}

#all article .select{
    flex-direction: column;
}

