#all2{
    display: flex;
    justify-content: center;
}

#all2 > *{
    display: flex;
}

.containerOrdemDasVariaveis {
    width: 90%;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
}

#all .containerOrdemDasVariaveis .cabecalhoOrdemDasVariaveis {
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #a8a8a8;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#ordemDasVariaveis{
    display: grid;
    height: fit-content;
    min-height: 58px;
    max-width: 1695px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 5px 0.6%;

}

#ordemDasVariaveis > *{
    border: 1px solid;
    align-items: center;
    height: min-content;
    padding: 5px;
    font-size: 30px;
    margin: 5px;
}

#ordemDasVariaveis .subida {
    background-color: rgb(151, 255, 165);
}

#ordemDasVariaveis .descida {

    background-color: rgb(252, 168, 129);
}

.ceta {
    margin-top: 4px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.subida .ceta::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(225deg);
    left: 4px;
    top: 2px
}
.descida .ceta::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}




#indexVariaveisMaiorMenor{

    justify-content: space-between;
    width: 90%;
    height: 300px;
}

#indexVariaveisMaiorMenor > *{
    background-color: rgb(255, 255, 255);
    width: 46%;
    border: 1px solid;
    margin: 2px;
    flex-direction: column;
}

.cabecalho{
    border-bottom: 1px solid;

    justify-content: center;
    width: 100%;
}

#indexVariaveisMaiorMenor #variaveisMaior{
    display: flex;
    align-items: center;
}

#indexVariaveisMaiorMenor #variaveisMaior #table{
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    

}

#indexVariaveisMaiorMenor #variaveisMaior table tr td{
    border: 1px solid;
    margin: 12px 12px;
    width: 99999px;
    height: 20%;

}

#indexVariaveisMaiorMenor #variaveisMaior table tr:nth-child(even) {
    background-color: #ffffff52;
}


