




#all #IDENTIFICACAO_RAPIDA section{
    flex-direction: row;
    justify-content: center;
    background-color: #8092a1;
    
}

#all #IDENTIFICACAO_RAPIDA section nav{
    justify-content: center;
    align-items: center;
    font-size: calc(0.9vw + 5px);
}

#all #IDENTIFICACAO_RAPIDA section nav + nav{
    text-align: center;
    font-size: calc(0.8vw + 3px);
}

#all #IDENTIFICACAO_RAPIDA section div{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
    margin: 0.5vw;
    width: 9.15vw;
}

#all #IDENTIFICACAO_RAPIDA .I{
    background-color: white;
}

#all #IDENTIFICACAO_RAPIDA .Q{
    color: white;
    background-color: #000;
}

#all #IDENTIFICACAO_RAPIDA .S{
    background-color: #ff0;
}

#all #IDENTIFICACAO_RAPIDA .IW{
    background-color: #7677e9;
}

#all #IDENTIFICACAO_RAPIDA .QW{
    background-color: #0003ad;
    color: white;
}

#all #IDENTIFICACAO_RAPIDA .IQb{
    background-color: #dbdbdb;
    width: 60%;
    /*padding-bottom:65%;---------------#########################################---------*/
    margin: 1vw;
}

#all #IDENTIFICACAO_RAPIDA .IQb *{
    color: black;
}

#all #IDENTIFICACAO_RAPIDA .br{
    height: 3vw;
}

#all #IDENTIFICACAO_RAPIDA .organizacao{
    width: 99%;
    flex-direction: column;
    align-items: center;
}

#all #IDENTIFICACAO_RAPIDA .organizacao .cartao,
#all #IDENTIFICACAO_RAPIDA .organizacao .cartaow{
    flex-direction: column;
    width: fit-content;
    padding: 8px;
    background-color: #8092a1;
}

#all #IDENTIFICACAO_RAPIDA .organizacao .cartaow .IQb *{
    display: none;
}



#all #IDENTIFICACAO_RAPIDA .class div{
    background-color: #ff080800;
    border: 1px solid #00000000;
    width: 0px;
    font-size: 0px;
    height: 0px;
}

#all #IDENTIFICACAO_RAPIDA .organizacao .cartao .nomeCartao,
#all #IDENTIFICACAO_RAPIDA .organizacao .cartaow .nomeCartao,
#all .nomeCartao{
    margin: -8px -8px;
    margin-bottom: 4px;
    padding: 3px 6px;
    background-color: #0000007c;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#all #IDENTIFICACAO_RAPIDA .organizacao .cartao .nomeCartao input,
#all #IDENTIFICACAO_RAPIDA .organizacao .cartaow .nomeCartao input{
    display: none;
}







@media only screen and (min-width: 1300px) {
   
    #all article{
        width: 90%;
        margin: 20px;
        justify-content: space-between;
    }

    #all article .select select{
        font-size: 1.5vw;
    }

    #all article .select{
        flex-direction: row;
    }
   
    #all #IDENTIFICACAO_RAPIDA section{
        justify-content: safe;
        height: 50%;
    }
   
    #all #IDENTIFICACAO_RAPIDA section nav{
        font-size: calc(0.45vw + 5px);
    }
   
    #all #IDENTIFICACAO_RAPIDA section nav + nav{
        font-size: calc(0.4vw + 3px);
       
    }
   
    #all #IDENTIFICACAO_RAPIDA section div{
        padding: 1px;
        width: 4.6vw;
    }

    #all #IDENTIFICACAO_RAPIDA section > div{
        height: 100px;
    }

    #all #IDENTIFICACAO_RAPIDA .Q .IQb{
        color: white;
        background-color: #000;
        color: black;
        border: 1px solid white;
    }
   
    #all #IDENTIFICACAO_RAPIDA .IQb{
        margin: 0px;
        margin-bottom: 6px;
    }
   
    #all #IDENTIFICACAO_RAPIDA .br{
        height: 2vw;
    }
   
    #all #IDENTIFICACAO_RAPIDA .organizacao{
        position: relative;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        min-height: 12vw;
    }
   
    #all #IDENTIFICACAO_RAPIDA .organizacao .cartao,
    #all #IDENTIFICACAO_RAPIDA .organizacao .cartaow{
        flex-direction: column;
        padding: 1px;
        min-width: 30%;
    }

    #all #IDENTIFICACAO_RAPIDA .organizacao .cartao .nomeCartao,
    #all #IDENTIFICACAO_RAPIDA .organizacao .cartaow .nomeCartao{
        margin:-1px
    }
    

}

