#all #temposDeCiclo .organizacao .cartaow{
  flex-direction: column;
  background-color: #8092a1;

}

#all #temposDeCiclo .organizacao .cartaow section{
  flex-direction: row;
  padding: 10px;
}

#all #temposDeCiclo .organizacao .cartaow .IW,
#all #temposDeCiclo .organizacao .cartaow .QW{
  flex-direction: column-reverse;
  height: 250px;
}

#all #temposDeCiclo .organizacao .cartaow .IW div,
#all #temposDeCiclo .organizacao .cartaow .QW div{
  margin-top: 4px;
  height: 75%;
}

#all #temposDeCiclo .organizacao .cartaow .IW .IQb,
#all #temposDeCiclo .organizacao .cartaow .QW .IQb{
  flex-direction: column-reverse;
  justify-content: space-between;
}

#all #temposDeCiclo .organizacao .cartaow .IQb .escala{
  position: absolute;
  width: fit-content;
  margin-bottom: -1px;
  margin-left:-68px ;
  color: black;

}

#all #temposDeCiclo .organizacao .cartaow .IQb .escala + .escala{
  margin-bottom:170px;
  margin-left:-52px ;
}

#all #temposDeCiclo section{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid;*/
}

#all #temposDeCiclo section nav{
  justify-content: center;
  align-items: center;
  font-size: calc(0.9vw + 5px);
}

#all #temposDeCiclo .cartaow section nav{
  margin-bottom: 20px;
}

#all #temposDeCiclo section nav + nav{
  position: absolute;
  color: black;
}

#all #temposDeCiclo .cartaow section nav + nav{
  margin-top: 240px;
}

#all #temposDeCiclo .cartaow .QW nav + nav{
  color: white;
}

#all #temposDeCiclo section div{
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  margin: 0.2vw;
  width: 97%;
}

#all #temposDeCiclo .I{
  background-color: white;
}

#all #temposDeCiclo .Q{
  color: white;
  background-color: #000;
}

#all #temposDeCiclo .S{
  background-color: #ff0;
}

#all #temposDeCiclo .IW{
  background-color: #7677e9;
}

#all #temposDeCiclo .QW{
  background-color: #0003ad;
  color: white;
}

#all #temposDeCiclo .IQb{
  background-color: #dbdbdb;
  width: 70%;
  height: 35px;
  padding:0%;
  margin: 1px 0px;
}

#all #temposDeCiclo .IQb .estado{
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #e2e2e2
}

#all #temposDeCiclo .organizacao{
  width: 99%;
  flex-direction: column;
}

#all #temposDeCiclo .organizacao .cartao,
#all #temposDeCiclo .organizacao .cartaow{
  flex-direction: column;
  padding: 10px 0px;
  background-color: #8092a1;
}

#all #temposDeCiclo #REMOTA{
  display: none;
}

#all #temposDeCiclo .tempoFinal{
  background-color: rgb(211, 211, 211);
  margin: -8px 0px;
  padding: 4px;
  width: 8%;
}

#all #temposDeCiclo .class div{
  background-color: #ffffff00;
  border: 1px solid #ff000000;
  width: 0px;
  height: 0px;
}

#all #temposDeCiclo .organizacao .cartao .nomeCartao,
#all #temposDeCiclo .organizacao .cartaow .nomeCartao,
#all .nomeCartao{
  margin: -10px 0px;
  margin-bottom: 4px;
  padding: 3px 6px;
  background-color: #0000007c;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-between;
}

#all #temposDeCiclo .organizacao .cartao .nomeCartao input,
#all #temposDeCiclo .organizacao .cartaow .nomeCartao input{
  display: none;
}

#all #temposDeCiclo .organizacao .cartao .nomeCartao input:checked + label,
#all #temposDeCiclo .organizacao .cartaow .nomeCartao input:checked + label{
  color: #00ff00;
}

#all #temposDeCiclo .organizacao .cartao .nomeCartao input + label,
#all #temposDeCiclo .organizacao .cartaow .nomeCartao input + label{
  color: #fff;
}

#all #temposDeCiclo div .nomeCartao label{
  padding: 7px 14px;
  margin: -5px -10px;
} 

#all #temposDeCiclo .gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-radius: 100%;
  margin-right: 3px;
}
#all #temposDeCiclo .gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 7px;
  left: 9px
}

#all #temposDeCiclo .organizacao .cartaow .IQb .tamanho{
  background-color: rgba(9, 255, 0, 0.671);
  width: 100%;
  margin: 0px;
  border: none;
}


/*@media only screen and (min-width: 1300px) {
  #all #temposDeCiclo .organizacao{
      position: relative;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      min-height: 12vw;
  }

  #all #temposDeCiclo .organizacao .cartao{
      flex-direction: column;
      width: 100%;
      margin: 0px 5px;
  }

  #all #temposDeCiclo .class{
      margin: 0.2vw;
      width: 97%;
      height: 37px;
  }

  #all #temposDeCiclo .organizacao .cartaow{
      flex-direction: column;
      background-color: #8092a1;
      width: 49%;
      padding-top: 10px;
  }
  
  #all #temposDeCiclo .organizacao .cartaow section{
      flex-direction: row;
      padding: 10px;
  }
  
  #all #temposDeCiclo .organizacao .cartaow .IW,
  #all #temposDeCiclo .organizacao .cartaow .QW{
      flex-direction: column-reverse;
      height: 250px;
  }


}*/